stages:
  - build
  - package

variables:
  PLUGIN_TYPES: "x12 edifact tradacoms demo"
  BUILD_DIR: "${CI_PROJECT_DIR}/build"
  BOTS_VERSION: "4.0.0"


build-bots-plugins:
  stage: build
  image: alpine:latest
  before_script:
    - apk add --no-cache zip
    - mkdir -pv "${BUILD_DIR}"
  script:
    - for plugin_type in ${PLUGIN_TYPES}; do
        mkdir -pv "${BUILD_DIR}/${plugin_type}";
        for plugin_dir in ${CI_PROJECT_DIR}/$plugin_type/*; do
          plugin_name=$(basename "${plugin_dir}");
          echo "Building bots plugin ${plugin_type} - ${plugin_name}";
          zip_file="${BUILD_DIR}/${plugin_type}/${plugin_name}.zip";
          cd $plugin_dir;
          zip -r "${zip_file}" ./;
        done
      done

  artifacts:
    name: "bots-plugins"
    paths:
      - "${BUILD_DIR}/*/*.zip"


upload-packages:
  stage: package
  image: curlimages/curl:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    # PACKAGE_VERSION: you can also use $CI_COMMIT_TAG or $CI_COMMIT_SHA
    # - export PACKAGE_VERSION=$(date +"%Y%m%d-%H%M%S")
    - export PACKAGE_VERSION=$CI_COMMIT_TAG
    - |
      for plugin_type in ${PLUGIN_TYPES}; do
        for plugin_file in $(find ${BUILD_DIR}/$plugin_type/*.zip); do
          plugin_name=$(basename "${plugin_file%.zip}");
          echo "Uploading bots plugin ${plugin_type} - ${plugin_name}";
          curl -v --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${plugin_file} "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${plugin_name}/${PACKAGE_VERSION}/${plugin_name}.zip";
        done
      done
